footer {
    background: $clr-baci;
    position: relative;
    .container {
    	padding: 0 10px;
    }
	.ft-content {
		@include dlflex;
		// align-items: center;
    	justify-content: space-between;
    	color: $clr-white;
    	font-size: 14px;
		a {
			color: $clr-white;
		}
    	@media screen and (max-width: $screen-sp) {
    		height: auto;
	    	flex-direction: column;
	    	justify-content: center;
	    	// .ft-col {
	    	// 	text-align: center;
	    	// 	&:first-child {
	    	// 		order: 2;
	    	// 		font-size: 10px;
	    	// 	}
	    	// 	&:last-child {
	    	// 		order: 1;
	    	// 		font-size: 12px;
	    	// 	}
	    	// 	p {
	    	// 		margin: 0 0 .5rem;
	    	// 	}
	    	// }
	    }
	    & + .ft-content {
	    	border-top: 1px solid rgba($clr-white, .3);
	    	margin-top: 27px;
	    	padding-top: 29px;
	    	@media screen and (max-width: $screen-sp) {
	    		border: none;
	    		margin-top: 0;
	    	}
	    }
	    &.ft-dau {
	    	padding-top: 26px;
	    	.ft-col {
	    		width: calc(100% / 3);
	    		padding-left: 29px;
	    		position: relative;
	    		@media screen and (max-width: $screen-sp) {
	    			width: 100%;
	    			& + .ft-col {
	    				margin-top: 20px;
	    			}
	    		}
    			&:before {
    				content: '';
    				position: absolute;
    				background: url('../images/commons/ic-letter.png') no-repeat;
    				width: 17px;
    				height: 20px;
    				left: 0;
    			}
	    		.ft-dau-title {
  					letter-spacing: normal;
	    		}
		    	.ft-contact__info {
		    		@include dlflex;
		    		align-items: center;
    				li {
    					font-weight: 600;
						letter-spacing: normal;
						position: relative;
						@media screen and (max-width: $screen-sp) {
							font-weight: normal;
						}
						@media screen and (max-width: 375px) {
							font-size: 12px;
						}
						a {
							color: $clr-asau;
						}
						& + li {
							padding-left: 30px;
							&:before {
								content: '';
								border-left: 1px solid $clr-abay;
								position: absolute;
								left: 0;
								top: 0;
								bottom: 0;
								margin: auto;
								height: 14px;
								margin-left: 15px;
							}
						}
    				}
		    	}
	    	}
	    }
	    &.ft-giua {
	    	.ft-col {
	    		@media screen and (max-width: $screen-sp) {
	    			border-top: 1px solid rgba($clr-white, .1);
    			    padding: 6px 0;
	    		}
	    	}
	    	.ft-com-info {
	    		width: 187px;
	    		@media screen and (max-width: $screen-sp) {
	    			width: 100%;
	    			order: 2;
	    			padding-top: 30px;
	    		}
	    		.ft-logo {
	    			@media screen and (max-width: $screen-sp) {
		    			display: none;
		    		}
	    		}
	    		.ft-address {
    			    margin-top: 17px;
    			    font-size: 12px;
					line-height: 2;
					letter-spacing: normal;
					color: $clr-ceko;
					@media screen and (max-width: $screen-sp) {
		    			display: none;
		    		}
	    		}
	    		.ft-social {
	    			@include dlflex;
	    			justify-content: space-between;
	    			max-width: 100px;
	    			margin-top: 13px;
	    			@media screen and (max-width: $screen-sp) {
		    			max-width: 132px;
		    			margin: auto;
		    		}
	    		}
	    	}
	    	.ft-lienket {
	    		line-height: 2.14;
	    		a {
	    			color: $clr-ceko;
	    		}
	    		&-title {
	    			font-size: 14px;
	    			font-weight: 600;
	    			color: $clr-white;
	    			@media screen and (max-width: $screen-sp) {
	    				position: relative;
	    				&:after {
	    					content: '';
	    					position: absolute;
	    					background: url('../images/commons/ic-arrow-down.png') center no-repeat;
	    					width: 11px;
	    					height: 6px;
	    					top: 0;
	    					bottom: 0;
	    					margin: auto;
	    					right: 2px;
	    					@include transition;
	    				}
	    				&.active {
	    					&:after {
		    					-webkit-transform: rotate(180deg);
								-moz-transform: rotate(180deg);
								-o-transform: rotate(180deg);
								-ms-transform: rotate(180deg);
								transform: rotate(180deg);
		    				}
	    				}
	    			}
	    		}
	    		ul {
	    			@media screen and (max-width: $screen-sp) {
		    			display: none;
		    			padding-right: 10px;
		    			padding-left: 10px;
		    			&.active {
		    				display: block;
		    			}
		    		}
	    		}
	    	}
	    	.ft-inputmail {
	    		#form_email {
	    			@media screen and (max-width: $screen-sp) {
		    			display: none;
		    			&.active {
		    				display: block;
		    			}
		    		}
	    		}
	    		.rightiput_nhap {
	    			@include dlflex;
	    			margin-top: 18px;
	    			@media screen and (max-width: $screen-sp) {
	    				margin: 10px 0 10px 10px;
	    			}
	    			.inputnhap {
	    				.nhapemail {
		    				width: 158px;
							height: 41px;
							background-color: $clr-white;
							border: none;
							padding: 7px;
							color: $clr-tabe;
							@media screen and (max-width: $screen-sp) {
			    				width: 200px;
			    			}
		    			}
	    			}
	    			.register {
	    				width: 79px;
						height: 41px;
						background-color: $clr-tabe;
						border: none;
	    			}
	    		}
	    	}
	    }
	    &.ft-duoi {
	    	font-size: 12px;
			line-height: 2.5;
			letter-spacing: normal;
			color: $clr-ceko;
			padding-top: 17px;
			padding-bottom: 15px;
			@media screen and (max-width: $screen-sp) {
    			text-align: center;
    			padding-top: 19px;
    		}
			a {
				color: $clr-ceko;
			}
	    	.ft-policy {
    			@include dlflex;
    			@media screen and (max-width: $screen-sp) {
	    			display: none;
	    		}
    			li {
    				&:not(:last-child) {
						margin-right: 30px;
					}
    			}
	    	}
	    }
	}

	#scrollUp {
	    top: -40px;
	    right: 30px;
	    position: absolute;
	    opacity: 1;
	    @media screen and (max-width: $screen-sp) {
			display: none;
		}
	}
}