html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* base valiables */
/*keyframes*/
/* common mixins */
/* base valiables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

html:not(.lt-ie10) .not-animated {
  opacity: 0; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #1b1b1b;
  width: 100%;
  height: 100%;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }
  @media screen and (max-width: 768px) {
    body.fixbody {
      position: fixed;
      overflow: hidden; } }

ul, li {
  list-style: none;
  padding: 0; }

textarea:focus, input:focus, button:focus, select:focus {
  outline: none; }

select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */ }

button {
  border: none; }

a {
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    opacity: 0.7; }

a:hover, a:link, a:visited, a:active {
  text-decoration: none; }

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  padding: 0;
  margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input {
  height: auto; }

:not(output):-moz-ui-invalid {
  box-shadow: none; }

:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none; }

output:-moz-ui-invalid {
  color: none; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.container {
  width: 100%;
  max-width: 1114px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .container {
      padding-left: 10px;
      padding-right: 10px; } }

.max-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto; }

.no-position {
  position: static; }

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.nopd {
  padding: 0 !important; }

.nomg {
  margin: 0 !important; }

img.dl-pc {
  margin: 0 auto; }

.dl-pc {
  display: block; }
  @media screen and (max-width: 768px) {
    .dl-pc {
      display: none; } }

.dl-sp {
  display: none; }
  @media screen and (max-width: 768px) {
    .dl-sp {
      display: block; } }

.box-content figure {
  overflow: hidden;
  display: table;
  width: 100%; }

.box-content figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.box-content figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.clearfix {
  clear: both;
  height: 0; }
  .clearfix:after, .clearfix:before {
    content: " ";
    display: table; }

.tlt-bnd {
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  font-stretch: condensed;
  line-height: 1.2;
  letter-spacing: 1.25px; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .tlt-bnd {
      font-size: calc(35px + 35 * ((100vw - 320px) / 448)); } }
  @media screen and (max-width: 768px) {
    .tlt-bnd {
      text-align: center; } }
  .tlt-bnd small {
    display: block;
    font-size: 18px;
    letter-spacing: 1.8px;
    font-weight: 400; }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      .tlt-bnd small {
        font-size: calc(14px + 10 * ((100vw - 320px) / 448)); } }
    @media screen and (max-width: 768px) {
      .tlt-bnd small {
        margin-top: 5px; } }
    .tlt-bnd small .ft-kozuka {
      font-size: 16px; }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        .tlt-bnd small .ft-kozuka {
          font-size: calc(12px + 8 * ((100vw - 320px) / 448)); } }

.lb-dataContainer {
  position: relative; }

.lb-data .lb-details {
  width: 100%;
  padding-top: 33px; }

.lb-data .lb-caption {
  font-size: 18px;
  color: #fff; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .lb-data .lb-caption {
      font-size: calc(14px + 14 * ((100vw - 320px) / 448)); } }
  .lb-data .lb-caption br {
    content: '';
    display: block;
    height: 15px; }
  .lb-data .lb-caption .description {
    font-size: 14px;
    font-weight: 200;
    display: block;
    margin-top: 10px;
    line-height: 1.6; }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      .lb-data .lb-caption .description {
        font-size: calc(12px + 12 * ((100vw - 320px) / 448)); } }

.lb-data .lb-number {
  display: none !important; }

.lb-data .lb-closeContainer {
  display: none; }

.ndb-closeContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative; }
  .ndb-closeContainer .ndb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    position: absolute;
    top: -34px;
    right: 0;
    cursor: pointer; }

.lightbox .lb-image {
  border: none; }

.lb-nav {
  width: 113.7%;
  margin-left: -62px; }
  @media screen and (max-width: 768px) {
    .lb-nav {
      width: 100%;
      margin-left: 0; } }
  .lb-nav a.lb-prev, .lb-nav a.lb-next {
    filter: alpha(Opacity=100);
    opacity: 1; }
    @media screen and (max-width: 480px) {
      .lb-nav a.lb-prev, .lb-nav a.lb-next {
        background-size: 22px;
        width: 50%; } }
  @media screen and (max-width: 768px) {
    .lb-nav a.lb-next {
      margin-left: -10px; } }

.lg-outer {
  z-index: 10509; }

@media screen and (max-width: 768px) {
  .lg-outer .lg-inner {
    top: 0; } }

.lg-outer .lg-thumb-outer {
  background: none; }

.lg-outer .lg-toogle-thumb {
  display: none; }

.lg-toolbar {
  background: none; }
  .lg-toolbar .lg-icon, .lg-toolbar #lg-counter {
    display: none; }
  .lg-toolbar .lg-close {
    display: block; }

.lg-outer .lg-thumb-item {
  border: none; }

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border: 2px solid #b885c5; }

.lg-actions .lg-next {
  right: 0; }

.lg-actions .lg-prev {
  left: 0; }

.lg-actions .lg-next, .lg-actions .lg-prev {
  width: 31px;
  height: 58px;
  background: none;
  padding: 0;
  top: 32.5%; }
  @media screen and (max-width: 768px) {
    .lg-actions .lg-next, .lg-actions .lg-prev {
      top: 25%; } }
  @media screen and (max-width: 375px) {
    .lg-actions .lg-next, .lg-actions .lg-prev {
      width: 25px;
      height: 41px; } }
  .lg-actions .lg-next:before, .lg-actions .lg-next:after, .lg-actions .lg-prev:before, .lg-actions .lg-prev:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%; }

.lg-actions .lg-next:before {
  background: url("../images/ic-arrow-right.png") right no-repeat; }

.lg-actions .lg-prev:before {
  background: url("../images/ic-arrow-left.png") left no-repeat; }

.lg-toolbar .lg-close {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 10px;
  margin-right: 60px; }
  @media screen and (max-width: 1020px) {
    .lg-toolbar .lg-close {
      margin-right: 10px; } }
  .lg-toolbar .lg-close:after {
    content: "";
    background: url("../images/close.png") no-repeat;
    display: block;
    width: 100%;
    height: 100%; }

.lg-outer .lg-thumb-item {
  border-radius: 0; }

@media screen and (max-width: 768px) {
  .lg-outer.lg-use-transition-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
    max-height: 44vh;
    width: auto;
    margin-top: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; } }

.lg-outer .lg-sub-html {
  font-size: 18px;
  text-align: left;
  background: none;
  max-width: 980px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 414px) {
    .lg-outer .lg-sub-html {
      padding: 10px; } }
  @media screen and (max-width: 768px) {
    .lg-outer .lg-sub-html {
      bottom: 0;
      overflow-y: scroll;
      transition: none;
      height: 48vh; } }
  @media screen and (max-width: 768px) {
    .lg-outer .lg-sub-html small {
      display: block;
      margin-top: 5px;
      font-size: 12px; } }
  .lg-outer .lg-sub-html strong {
    color: #b885c5; }
  .lg-outer .lg-sub-html span {
    display: block;
    font-size: 14px;
    margin-top: 10px; }

.lg-outer.lg-has-thumb .lg-sub-html {
  bottom: 20vh; }
  @media screen and (max-width: 768px) {
    .lg-outer.lg-has-thumb .lg-sub-html {
      bottom: 0; } }

.lg-outer.lg-has-thumb .lg-item:before, .lg-outer.lg-has-thumb .lg-img-wrap:before {
  height: 35%; }
  @media screen and (max-width: 768px) {
    .lg-outer.lg-has-thumb .lg-item:before, .lg-outer.lg-has-thumb .lg-img-wrap:before {
      height: 25%; } }

@media screen and (max-width: 768px) {
  .lg-outer.lg-has-thumb.lg-thumb-open .lg-sub-html {
    height: 31vh; } }

#wrapper #header {
  width: 100%;
  transition: all 0.5s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 115px;
  max-width: 1114px;
  margin: auto; }
  #wrapper #header .logo {
    margin: .5em 0; }
    #wrapper #header .logo img {
      transition: all 1s ease;
      -webkit-transition: all 1s ease; }
    @media screen and (max-width: 768px) {
      #wrapper #header .logo {
        width: 77px;
        margin: .15em auto; } }
  #wrapper #header .hd-content .nav-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; }
    #wrapper #header .hd-content .nav-menu .hd-menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      margin-right: 45px;
      position: relative; }
      @media screen and (max-width: 768px) {
        #wrapper #header .hd-content .nav-menu .hd-menu {
          flex-direction: column; } }
      #wrapper #header .hd-content .nav-menu .hd-menu > li {
        padding: 10px 0; }
        @media screen and (max-width: 768px) {
          #wrapper #header .hd-content .nav-menu .hd-menu > li {
            margin: 0 !important;
            padding: 14px 0; } }
        #wrapper #header .hd-content .nav-menu .hd-menu > li a {
          color: #4e4e50;
          position: relative;
          font-size: 14px; }
          @media screen and (max-width: 768px) {
            #wrapper #header .hd-content .nav-menu .hd-menu > li a {
              color: #fff; } }
          #wrapper #header .hd-content .nav-menu .hd-menu > li a:hover {
            color: #a76636; }
        #wrapper #header .hd-content .nav-menu .hd-menu > li.has-submenu > a {
          position: relative;
          padding-right: 15px; }
          #wrapper #header .hd-content .nav-menu .hd-menu > li.has-submenu > a:after {
            content: '';
            position: absolute;
            background: url("../images/commons/ic-sub-icon.png") no-repeat;
            width: 7px;
            height: 5px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto; }
        #wrapper #header .hd-content .nav-menu .hd-menu > li.has-submenu .submenu {
          display: none; }
        #wrapper #header .hd-content .nav-menu .hd-menu > li.has-submenu:hover .submenu {
          position: absolute;
          top: 47px;
          display: block;
          background: #fff;
          width: 100%;
          max-width: 250px;
          z-index: 2;
          padding: 15px;
          border: 1px solid #b8c2cc;
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
          #wrapper #header .hd-content .nav-menu .hd-menu > li.has-submenu:hover .submenu li {
            padding: 5px 10px; }
            #wrapper #header .hd-content .nav-menu .hd-menu > li.has-submenu:hover .submenu li:hover {
              background-color: #eee; }
        #wrapper #header .hd-content .nav-menu .hd-menu > li.active a {
          font-weight: 600;
          color: #a76636; }
        #wrapper #header .hd-content .nav-menu .hd-menu > li:not(:last-child) {
          margin-right: 28px; }
          @media screen and (max-width: 840px) {
            #wrapper #header .hd-content .nav-menu .hd-menu > li:not(:last-child) {
              margin-right: 8px; } }
    #wrapper #header .hd-content .nav-menu .hd-acse {
      margin-left: 45px; }
      #wrapper #header .hd-content .nav-menu .hd-acse .box-acse {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex; }
        #wrapper #header .hd-content .nav-menu .hd-acse .box-acse li {
          position: relative; }
          #wrapper #header .hd-content .nav-menu .hd-acse .box-acse li + li {
            padding-left: 30px; }
            #wrapper #header .hd-content .nav-menu .hd-acse .box-acse li + li:before {
              content: '';
              border-left: 1px solid #a76636;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              height: 14px;
              margin-left: 15px; }
  #wrapper #header .nav-toggle {
    background-color: transparent;
    color: #4c4c4e;
    border: none;
    line-height: 0;
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    z-index: 999;
    display: none;
    right: 20px; }
    @media screen and (max-width: 768px) {
      #wrapper #header .nav-toggle {
        display: block; } }
    #wrapper #header .nav-toggle span {
      background-color: #4c4c4e;
      height: 4px;
      border-radius: 0;
      position: relative;
      display: block;
      width: 30px;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      #wrapper #header .nav-toggle span:before, #wrapper #header .nav-toggle span:after {
        background-color: #4c4c4e;
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        left: 0;
        top: -10px;
        border-radius: 0;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        -webkit-transition-duration: 0.3s, 0.3s, .3s;
        transition-duration: 0.3s, 0.3s, .3s;
        -webkit-transition-delay: 0.3s, 0s, .3s;
        transition-delay: 0.3s, 0s, .3s;
        -webkit-transition-property: top, -webkit-transform, width;
        transition-property: top, transform, width;
        transform-origin: center; }
      #wrapper #header .nav-toggle span:after {
        top: 10px; }
    #wrapper #header .nav-toggle.active span {
      background: transparent;
      right: 0;
      left: auto;
      -webkit-transition: background 0.3s 0s ease;
      -moz-transition: background 0.3s 0s ease;
      -ms-transition: background 0.3s 0s ease;
      -o-transition: background 0.3s 0s ease;
      transition: background 0.3s 0s ease; }
      #wrapper #header .nav-toggle.active span:before, #wrapper #header .nav-toggle.active span:after {
        top: 0;
        right: 0;
        left: auto;
        width: 30px;
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s; }
      #wrapper #header .nav-toggle.active span:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg); }
      #wrapper #header .nav-toggle.active span:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    #wrapper #header .nav-toggle small {
      display: none; }

footer {
  background: #393939;
  position: relative; }
  footer .container {
    padding: 0 10px; }
  footer .ft-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px; }
    footer .ft-content a {
      color: #fff; }
    footer .ft-content + .ft-content {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      margin-top: 27px;
      padding-top: 29px; }
    footer .ft-content.ft-dau {
      padding-top: 26px; }
      footer .ft-content.ft-dau .ft-col {
        width: calc(100% / 3);
        padding-left: 29px;
        position: relative; }
        footer .ft-content.ft-dau .ft-col:before {
          content: '';
          position: absolute;
          background: url("../images/commons/ic-letter.png") no-repeat;
          width: 17px;
          height: 20px;
          left: 0; }
        footer .ft-content.ft-dau .ft-col .ft-dau-title {
          letter-spacing: normal; }
        footer .ft-content.ft-dau .ft-col .ft-contact__info {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          align-items: center; }
          footer .ft-content.ft-dau .ft-col .ft-contact__info li {
            font-weight: 600;
            letter-spacing: normal;
            position: relative; }
            footer .ft-content.ft-dau .ft-col .ft-contact__info li a {
              color: #a66636; }
            footer .ft-content.ft-dau .ft-col .ft-contact__info li + li {
              padding-left: 30px; }
              footer .ft-content.ft-dau .ft-col .ft-contact__info li + li:before {
                content: '';
                border-left: 1px solid #a76636;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 14px;
                margin-left: 15px; }
    footer .ft-content.ft-giua .ft-com-info {
      width: 187px; }
      footer .ft-content.ft-giua .ft-com-info .ft-address {
        margin-top: 17px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: normal;
        color: #c0c0c0; }
      footer .ft-content.ft-giua .ft-com-info .ft-social {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        max-width: 119px;
        margin-top: 13px; }
    footer .ft-content.ft-giua .ft-lienket {
      line-height: 2.14; }
      footer .ft-content.ft-giua .ft-lienket a {
        color: #c0c0c0; }
      footer .ft-content.ft-giua .ft-lienket-title {
        font-size: 14px;
        font-weight: 600;
        color: #fff; }
    footer .ft-content.ft-giua .ft-inputmail-title {
      font-size: 14px;
      font-weight: 600;
      color: #fff; }
    footer .ft-content.ft-giua .ft-inputmail .rightiput_nhap {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      margin-top: 18px; }
      footer .ft-content.ft-giua .ft-inputmail .rightiput_nhap .inputnhap .nhapemail {
        width: 158px;
        height: 41px;
        background-color: #fff;
        border: none;
        padding: 7px;
        color: #8b8a89; }
      footer .ft-content.ft-giua .ft-inputmail .rightiput_nhap .register {
        width: 79px;
        height: 41px;
        background-color: #8b8a89;
        border: none; }
    footer .ft-content.ft-duoi {
      font-size: 12px;
      line-height: 2.5;
      letter-spacing: normal;
      color: #c0c0c0;
      padding-top: 17px;
      padding-bottom: 15px; }
      footer .ft-content.ft-duoi a {
        color: #c0c0c0; }
      footer .ft-content.ft-duoi .ft-policy {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex; }
        footer .ft-content.ft-duoi .ft-policy li:not(:last-child) {
          margin-right: 30px; }
  footer #scrollUp {
    top: -40px;
    right: 30px;
    position: absolute;
    opacity: 1; }

.overlay {
  position: relative; }
  .overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: block; }

.main-img__bg {
  position: relative; }
  .main-img__bg img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.main-img__caption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 1114px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main-img__description {
  font-size: 46px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 85px; }

.main-img .btn-readmore {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 180px;
  height: 48px;
  background: #a66636;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: normal;
  color: #fff;
  border-radius: 50px; }
  .main-img .btn-readmore:hover {
    opacity: 1;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

.title-block {
  font-size: 30px;
  letter-spacing: normal;
  text-align: center;
  font-weight: normal; }

.btn__more {
  width: 250px;
  height: 48px;
  background-color: #82461e;
  border-radius: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  margin: auto; }
  .btn__more:hover {
    opacity: 1;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

.best-project {
  background: #fbfafb;
  padding-top: 40px; }
  .best-project__list {
    margin-top: 42px;
    padding-bottom: 75px; }
    .best-project__list .slick-arrow {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 1114px;
      margin: auto;
      cursor: pointer;
      text-align: right;
      width: 50px;
      height: 48px;
      background: #fff;
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: -moz-flex !important;
      display: -webkit-flex !important;
      display: flex !important;
      align-items: center;
      justify-content: center; }
    .best-project__list .slick-prev {
      right: 46px; }
    .best-project__list .slick-next {
      padding-left: 24px; }
      .best-project__list .slick-next:before {
        content: '';
        border-left: 1px solid #a76636;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 18px;
        margin-left: 12px; }
  .best-project__item {
    text-align: center; }
    .best-project__item .gray {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%); }
    .best-project__item.slick-center .gray, .best-project__item:hover .gray {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0); }
    .best-project__item img {
      margin: auto; }
    .best-project__item .title-duan {
      font-size: 18px;
      line-height: 0.5;
      letter-spacing: normal;
      color: #1b1b1b; }

.chuyengia {
  margin-top: 45px;
  margin-bottom: 92px; }
  .chuyengia .title-block .title-block--upbi {
    color: #a66636;
    font-weight: 600; }
  .chuyengia__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px; }
    .chuyengia__list .chuyengia__item {
      width: calc(100% / 3);
      padding: 0 28px;
      position: relative; }
      .chuyengia__list .chuyengia__item__title {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: normal;
        color: #1b1b1b;
        padding: 30px 0;
        position: relative; }
        .chuyengia__list .chuyengia__item__title:after {
          content: '';
          position: absolute;
          background: url("../images/home/cta.png") no-repeat;
          width: 40px;
          height: 14px;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 32px; }
      .chuyengia__list .chuyengia__item:hover:before {
        content: '';
        position: absolute;
        background: url("../images/home/hover.png") 0 no-repeat;
        top: 8px;
        left: 8px;
        width: 100%;
        height: 100%; }
      .chuyengia__list .chuyengia__item:hover .chuyengia__item__title:after {
        background: url("../images/home/cta-hover.png") no-repeat; }

.duannoibat {
  background: url("../images/home/bg-texture.png") no-repeat;
  background-size: cover;
  padding-bottom: 98px; }
  .duannoibat .title-block {
    padding-top: 43px; }
  .duannoibat__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 51px; }
    .duannoibat__list .duannoibat__item {
      position: relative;
      color: #fff; }
      .duannoibat__list .duannoibat__item .duannoibat__ct {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow-y: hidden; }
      .duannoibat__list .duannoibat__item .duannoibat__info {
        margin-left: 20px;
        margin-bottom: -19px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease; }
      .duannoibat__list .duannoibat__item .duannoibat__button {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 18px;
        bottom: 16px;
        position: relative; }
        .duannoibat__list .duannoibat__item .duannoibat__button li {
          width: 31px;
          height: 31px;
          opacity: 0.6;
          border-radius: 5px;
          background-color: #000000;
          text-align: center; }
          .duannoibat__list .duannoibat__item .duannoibat__button li:not(:last-child) {
            margin-right: 6px; }
      .duannoibat__list .duannoibat__item_title {
        font-size: 18px;
        font-weight: 600; }
      .duannoibat__list .duannoibat__item p {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        letter-spacing: normal;
        margin-bottom: 7px; }
      .duannoibat__list .duannoibat__item .duannoibat___more {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #82461e;
        text-decoration: underline; }
      .duannoibat__list .duannoibat__item:hover .duannoibat__ct:after {
        content: '';
        background: #a66636;
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: 0; }
      .duannoibat__list .duannoibat__item:hover .duannoibat__info {
        margin-bottom: 7px; }
  .duannoibat .btn__more {
    margin-top: 63px; }

.about-homebrokers {
  height: 489px;
  max-width: 1366px;
  width: 100%;
  margin: auto; }
  .about-homebrokers .about__content {
    max-width: 425px;
    margin-left: 125px;
    float: left; }
    .about-homebrokers .about__content .about__title {
      font-size: 30px;
      font-weight: 600;
      line-height: 0.8;
      letter-spacing: normal;
      color: #a66636;
      padding-top: 80px; }
    .about-homebrokers .about__content p {
      margin-top: 64px;
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: normal; }
    .about-homebrokers .about__content .about_more {
      margin-top: 80px;
      display: block;
      font-size: 16px;
      letter-spacing: normal;
      color: #a66636; }
  .about-homebrokers .img-lf {
    float: right; }

.tintuc {
  background: #fbfafb;
  padding-bottom: 50px; }
  .tintuc .title-block {
    padding-top: 40px; }
  .tintuc__description {
    font-size: 22px;
    letter-spacing: normal;
    text-align: center;
    color: #848484;
    padding-top: 15px; }
  .tintuc__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
    margin-top: 53px; }
    .tintuc__list .tintuc__item {
      background: #fff;
      padding: 10px 9px; }
      .tintuc__list .tintuc__item p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        color: #1b1b1b;
        padding-top: 24px;
        padding-bottom: 6px;
        position: relative; }
        .tintuc__list .tintuc__item p:after {
          content: '';
          position: absolute;
          background: url("../images/home/cta.png") no-repeat;
          width: 40px;
          height: 14px;
          right: 0;
          bottom: 9px; }
      .tintuc__list .tintuc__item:hover {
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        border-radius: 4px; }
        .tintuc__list .tintuc__item:hover p:after {
          background: url("../images/home/cta-hover.png") no-repeat; }
