#pvc-card-instruction {
	background: #f5f2e9;
	@media screen and (max-width: 768px){
		margin-bottom: -20px;
	}
	a {
		opacity: 1;
		@include transition(all 0.4s ease);
		&:hover{
			opacity: 0.7;
		}
	}
	#pvc-card-instruction-wrapper {
		.pvc-card-inner {
			.card-top-page {
				height: 145px;
				@include dlflex;
			    flex-direction: column;
    			justify-content: center;
    			width: 100%;
    			background: $clr-white;
				h2 {
					font-size: 25px;
					color: #757575;
					font-weight: 400;
					font-family: $font-primary;
					@include fluid-type($min_width, $max_width, 17px, 25px);
				}
				.card-description {
					font-size: 20px;
					text-transform: uppercase;
					color: #757575;
					font-family: $font-primary;
					margin-top: 1rem;
					@include fluid-type($min_width, $max_width, 17px, 20px);
				}
			}
			.card-bottom-page {
				max-width: 1030px;
				width: 100%;
				margin: 0 auto;
				background: url('../images/bg_tag.png') top no-repeat;
			    padding-top: 40px;
			    padding-bottom: 35px;
			    @include dlflex;
			    @media screen and (max-width: 1000px) {
			    	width: auto;
		    	    flex-direction: column;
		    	    padding-left: 10px;
		    	    padding-right: 10px;
			    }
				.card-col {
					&.col-left {
						max-width: 820px;
						width: 100%;
						line-height: 1.5;
						@media screen and (max-width: 1000px) {
							max-width: inherit;
						}
						.card-banner {
							height: 250px;
							// background: $clr-white;
							// font-size: 20px;
							// @include dlflex;
						 //    flex-direction: column;
			    // 			justify-content: center;
			    // 			padding-left: 124px;
			    // 			color: #333333;
			    			margin-bottom: 28px;
			    // 			// font-family: $font-primary;
			    // 			@include fluid-type($min_width, $max_width, 17px, 20px);
			    // 			-webkit-box-sizing: border-box;
							// -moz-box-sizing: border-box;
							// box-sizing: border-box;
			    			@media screen and (max-width: 768px){
			    				// padding: 10px;
			    				height: 100px;
			    				// border: 1px solid #4d4d4f;
			    			}
			    			span {
			    				font-size: 20px;
			    				// font-family: $font-primary;
			    				@include fluid-type($min_width, $max_width, 17px, 20px);
			    			}
						}
						.card-title {
							height: 50px;
							font-size: 20px;
							background: #ffc80b;
							border-radius: 50px;
							text-align: center;
							font-weight: 400;
							// line-height: 50px;
							display: table;
							margin: 0 auto;
							padding: 14px 50px;
							position: relative;
							margin-bottom: 27px;
							box-shadow: 4px 4px 0px #f5f2ea, 6px 6px 0px #4b4a4b;
							@include fluid-type($min_width, $max_width, 13px, 15px);
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							@media screen and (max-width: 768px){
								height: auto;
								padding: 10px 15px;
							    min-width: 240px;
							}
							a {
								font-family: $font-primary;
							}
							span {
								font-size: 21px;
								color: $clr-white;
								font-family: $font-primary;
								@include fluid-type($min_width, $max_width, 13px, 15px);
							}
						}
						.safe-usage {
							ul {
								@include dlflex;
								@include dlflex;
							    align-items: center;
				    			justify-content: center;
			    			    flex-flow: wrap;
			    			    @media screen and (max-width: 768px){
							    	justify-content: space-around;
						    	    align-items: start;
							    }
								li {
									@include flexwidth(50%);
								    text-align: center;
								    cursor: pointer;
								    @media screen and (max-width: 768px){
								    	@include flexwidth(45%);
								    	img {
								    		max-width: 110px;
								    	}
								    }
								    span {
								    	display: block;
								    	margin: 29px 0;
								    	font-size: 16px;
								    	color: #333333;
								    	// font-family: $font-primary;
								    	@include fluid-type($min_width, $max_width, 13px, 15px);
								    }
								}
							}
							.safe-usage-sp {
								text-align: center;
								margin-bottom: 30px;
							}
						}
						.card-payment {
							p {
								font-size: 21px;
								color: #333;
								// font-family: $font-primary;
								@include fluid-type($min_width, $max_width, 13px, 15px);
							}
							.roadmap {
							    margin-top: 11px;
								.row {
								    display: -ms-flexbox;
								    display: flex;
								    -ms-flex-wrap: wrap;
								    flex-wrap: wrap;
								}
								.timeline {
									.col-10 {
										width: calc(100% - 100px);
										hr {
											left: 13px;
										}
									}
									.col-9 {
										width: calc(100% - 150px);
										hr {
											width: 85%;
										}
									}
									.col-8 {
										width: calc(100% - 200px);
									}
									.col-1 {
									    width: 50px;
									}
									.col-2 {
									    display: flex;
									    overflow: hidden;
									    width: 100px;
									    position: relative;
									    height: 240px;
									}
									div {
									    padding: 0;
									    height: 40px;
									}
									.ba-item, .hai-item {
										@include dlflex;
    									align-items: center;
    									position: relative;
									}
									.ba-item {
									    justify-content: space-between;
									}
									.hai-item {
									    justify-content: space-around;
									}
									.hai-flex {
										justify-content: space-between;
									}
									li {
										text-align: center;
									    z-index: 1;
										span {
											display: block;
											font-size: 15px;
											color: #333;
											// font-family: $font-primary;
											margin-top: 5px;
										}
									}
									hr {
									    border-top: 2px dashed #ffc70a;
									    top: -55px;
									    bottom: 0;
									    margin: auto;
									    position: absolute;
									    width: 100%;
									}
									.corner {
									    border: 2px dashed #ffc70a;
									    width: 100%;
									    position: absolute;
									    border-radius: 45px;
									    height: 100%;
									}
									.left-bottom {
									    left: -45px;
									    top: calc(50% - 29px);
									    right: 0;
									    height: 100%;
									}
									.top-left {
										left: -45%;
										top: -63%;
									}
									.right-bottom {
								        left: 45px;
								        top: calc(50% - 29px);
									}
									.top-right {
									    left: 45px;
									    top: -63%;
									}
								}
								.roadmap-sp {
									text-align: center;
									margin: 25px 0;
								}
							}
							.note {
								margin-top: 16px;
								strong {
									font-size: 21px;
									// font-family: $font-primary;
									@include fluid-type($min_width, $max_width, 13px, 15px);
								}
								.note-list {
									margin-bottom: 50px;
									.note-item {
										font-size: 21px;
										// font-family: $font-primary;
										color: #333;
									    margin: 12px 0;
									    // line-height: 1.2;
									    padding-left: 4px;
									    @include fluid-type($min_width, $max_width, 13px, 15px);
										&:before {
											content: attr(data-num);
											background: #ffc80b;
											font-size: 17px;
											border-radius: 50px;
											width: 20px;
											height: 20px;
										    display: inline-block;
										    margin-right: 8px;
										    text-align: center;
    										line-height: 23px;
    										@include fluid-type($min_width, $max_width, 13px, 14px);
										}
									}
								}
							}
						}
						.discover {
							border: 2px dashed #ffc80b;
							border-radius: 20px;
							margin-right: 5px;
							margin-left: 5px;
							padding: 0 30px;
							@media screen and (max-width: 768px){
								border-width: 1px;
								padding: 0 10px;
							}
							.card-title {
								position: relative;
								top: -25px;
							}
							p {
								margin-top: -26px;
    							line-height: 1.2;
							}
							p, strong, .read-more {
								font-size: 21px;
								color: #333;
								// font-family: $font-primary;
								@include fluid-type($min_width, $max_width, 13px, 15px);
							}
							.read-more {
								color: $clr-white;
							    text-align: center;
							    background: #0072bc;
							    border-radius: 8px;
							    display: table;
							    margin: 0 auto;
						        padding: 4px 18px;
							    margin-bottom: 16px;
							    margin-top: 18px;
							}
							& + .discover {
								margin-top: 70px;
							}
						}
						.refer {
							font-size: 21px;
							// font-family: $font-primary;
							margin-top: 40px;
							@include fluid-type($min_width, $max_width, 13px, 15px);
							a {
								font-size: 16px;
								// font-family: $font-primary;
								color: #0072bc;
								text-decoration: underline;
								@include fluid-type($min_width, $max_width, 13px, 15px);
							}
						}
					}
					&.col-right {
						margin-left: 5px;
						border-left: 1px solid #4d4d4f;
						padding-left: 5px;
						display: table;
						max-width: 199px;
						width: 100%;
						@media screen and (max-width: 1000px) {
				    	    margin-top: 40px;
				    	    border: none;
				    	    margin-left: 0;
				    	    padding-left: 0;
					    }
						.sidebar-col {
							padding-left: 10px;
							@media screen and (max-width: 1000px) {
								padding-left: 0;
							}
							.title-sidebar {
								color: #333;
								font-size: 21px;
								font-family: $font-primary;
								@include fluid-type($min_width, $max_width, 14px, 16px);
							}
							.list-link {
								li {
									position: relative;
									padding-left: 15px;
								    margin: 11px 0 15px;
								    line-height: 22px;
								    @media screen and (max-width: 768px) {
								    	margin: 10px 0;
								    }
									&:before {
										content: '';
										background: url('../images/dot.png') no-repeat;
										position: absolute;
										width: 8px;
										height: 8px;
										top: 7px;
										left: 0;
									}
									a {
										color: #0072bc;
										font-size: 17px;
										// font-family: $font-primary;
										@include fluid-type($min_width, $max_width, 12px, 14px);
									}
								}
							}
							&:last-child {
								.list-link {
									li {
									    margin: 11px 0 -8px;
									}
								}
							}
							& + .sidebar-col {
								border-top: 1px solid #4d4d4f;
								margin-top: 20px;
								padding-top: 13px;
							}
						}
					}
				}
			}
			.popup-modal {
				width: 100%;
				height: 100%;
				display: none;
				position: fixed;
				top: 0px;
				left: 0px;
				background: rgba(0,0,0,0.75);
				z-index: 9999;
				text-align: center;
				.popup-inner {
					width: 100%;
					padding: 40px 70px;
					max-width: 820px;
				    max-height: inherit;
				    padding-top: 20px;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					// box-shadow: 0px 2px 2px rgba(0,0,0,1);
					border-radius: 10px;
					background: $clr-white;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					line-height: 1.1;
					@media screen and (max-width: $screen-sp) {
			    		padding: 20px;
						padding-bottom: 20px;
			    		height: 90vh;
		    		    overflow: hidden;
		    		    display: table;
			    	}
			    	.popup-content {
			    		@media screen and (max-width: $screen-sp) {
			    			overflow-y: scroll;
		    			    height: 76vh;
				    		box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
			    		}
			    	}
			    	.popup-title {
						margin-bottom: 20px;
						font-size: 18px;
						@media screen and (max-width: $screen-sp) {
			    			padding: 0 15px;
			    		}
					}
					.list-method {
						@include dlflex;
						align-items: center;
						justify-content: center;
					    flex-wrap: wrap;
					    @media screen and (max-width: $screen-sp) {
					    	flex-direction: column;
					    }
						.item-method {
							max-width: 300px;
							width: calc(50% - 43px);
							min-height: 160px;
							text-align: center;
							border: 1px solid #a5a5a5;
							border-radius: 5px;
							padding: 10px;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							@media screen and (max-width: $screen-sp) {
						    	width: 100%;
						    	& + .item-method {
						    		margin-top: 15px;
						    	}
						    }
							img {
								display: block;
								margin: auto;
							}
							.tlt-method {
								margin: 10px 0;
								font-size: 14px;
							}
							span, strong {
								font-size: 14px;
							}
							@media screen and (min-width: 769px) {
								&:nth-child(even) {
									margin-left: 82px;
								}
								&:nth-child(1), &:nth-child(2) {
									margin-bottom: 55px;
								}
							}
						}
					}
					.notice {
						font-size: 14px;
						position: relative;
						margin-top: 35px;
						text-align: left;
						padding-left: 90px;
						@media screen and (max-width: $screen-sp) {
				    		padding-left: 0;
				    		padding-top: 60px;
			    		}
						&:before {
							content: '';
							position: absolute;
							background: url('../images/ic-online-notice.png') no-repeat;
							width: 70px;
							height: 48px;
							left: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							@media screen and (max-width: $screen-sp) {
				    			bottom: inherit;
				    			right: 0;
				    		}
						}
					}
					.list-safe {
						@include dlflex;
						align-items: center;
						justify-content: center;
					    flex-wrap: wrap;
					    .item-safe {
							max-width: 200px;
							width: calc(33.33% - 26px);
							min-height: 301px;
							text-align: center;
							border: 1px solid #a5a5a5;
							border-radius: 5px;
							padding: 20px 10px;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							@media screen and (max-width: $screen-sp) {
						    	width: 100%;
						    	max-width: inherit;
						    	min-height: inherit;
						    	& + .item-safe {
						    		margin-top: 15px;
						    	}
						    }
							.tlt-safe {
								margin: 10px 0;
							}
							.item-img {
								height: 80px;
								@include dlflex;
							    justify-content: center;
    							align-items: center;
							}
							@media screen and (min-width: 769px) {
								& + .item-safe {
									margin-left: 40px;
								}
							}
						}
					}
					.list-expired {
						.item-expired {
							max-width: 370px;
							width: 100%;
							min-height: 182px;
							margin: auto;
							text-align: center;
							border: 1px solid #a5a5a5;
							border-radius: 5px;
							padding: 20px 10px;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
						}
						.tlt-expired {
							margin: 20px 0 10px;
						}
					}
					.popup-close {
						display: inline-block;
						position: absolute;
						top: 25px;
						right: 25px;
						transition: ease 0.25s all;
						-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
						cursor: pointer;
					}

					.popup-close:hover {
						opacity: 1;
						-webkit-transform: translate(50%, -50%) rotate(330deg);
						transform: translate(50%, -50%) rotate(180deg);
					}
				}
			}
		}
	}
}