@charset "utf-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

html{
	font-size: $font-html;
}

html:not(.lt-ie10) .not-animated{
	opacity: 0;
}

body {
	background-color: $clr-white;
	font-family: $font-primary;
	@include fontsize(18);
	line-height: 1.5;
	color: $clr-mobe;
	width: 100%;
	height: 100%;
	// overflow-x: hidden;

	-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;
    @media screen and (max-width: $screen-sp) {
	    &.fixbody {
	     	position: fixed;
		    overflow: hidden;
	    }
	}

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

ul, li {
	list-style: none;
	padding: 0;
}

textarea:focus, input:focus, button:focus, select:focus {
    outline: none;
}
select::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}
button {
	border: none;
}
a {
	opacity: 1;
	@include transition(all 0.4s ease);
	&:hover{
		opacity: 0.7;
	}
}

p {
	// margin-top: 1rem;
	// margin-bottom: 1rem;
}

a:hover, a:link, a:visited, a:active {
	text-decoration: none;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

figure {
	padding: 0;
	margin: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {
	height: auto;
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none;
}

output:-moz-ui-invalid {
  color: none;
}

.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.container {
	width: 100%;
	max-width: 1114px;
	margin: 0 auto;
	@include padding-sp;
}

.max-content {
	max-width: 1366px;
	width: 100%;
	margin: 0 auto;
}

.no-position {
	position: static;
}

.img-responsive {
	max-width: 100%;
	display: block;
	height: auto;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.nopd{
	padding: 0!important;
}

.nomg{
	margin: 0!important;
}

img.dl-pc {
	margin: 0 auto;
}

.dl-pc{
	display: block;
	@media screen and (max-width: 768px){
		display: none;
	}
}

.dl-sp{
	display: none;
	@media screen and (max-width: 768px){
		display: block;
	}
}

.box-content figure {
	overflow: hidden;
	display: table;
	width: 100%;
}

.box-content figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.box-content figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.clearfix {
    clear: both;
    height: 0;
    &:after, &:before {
	    content: " ";
	    display: table;
	}
}

.bg-white {
	background: $clr-white !important;
}

.btn-act {
	@include dlflex;
	justify-content: space-between;
	align-items: flex-end;
    position: relative;
	li {
		opacity: 0.6;
		a {
			width: 31px;
			height: 31px;
			border-radius: 5px;
			background-color: $clr-black;
			text-align: center;
			display: block;
			&:hover {
				opacity: 1;
				background-color: $clr-asau;
			}
		}
		&:hover {
			opacity: 1;
		}
		&:not(:last-child) {
			margin-right: 6px;
		}
	}
}

.duannoibat__list, .project__list {
	@include dlflex;
	justify-content: space-between;
    margin-top: 51px;
    @media screen and (max-width: $screen-sp) {
		flex-direction: column;
		margin-top: 26px;
	}
	.duannoibat__item, .project__item {
		position: relative;
		color: $clr-white;
		@media screen and (max-width: $screen-sp) {
			border-radius: 5px;
		}
		figure {
			img {
				@media screen and (max-width: $screen-sp) {
					width: 100%;
				}
			}
		}
		.duannoibat__ct, .project__ct {
			@include dlflex;
			justify-content: space-between;
			position: absolute;
			bottom: 0;
			width: 100%;
			overflow: hidden;
		}
		.duannoibat__info, .project__info {
			margin-left: 20px;
	    	margin-bottom: -19px;
			transition: all 0.5s ease;
	    	-webkit-transition: all 0.5s ease;
	    	@media screen and (max-width: $screen-sp) {
				margin-bottom: 7px;
			}
		}
		.btn-act {
			margin-right: 18px;
			bottom: 16px;
		}
		.duannoibat__item_title, .project__item_title {
			font-size: 18px;
				font-weight: 600;
		}
		p {
			font-size: 14px;
			font-weight: normal;
			line-height: 1.71;
			letter-spacing: normal;
			margin-bottom: 7px;
		}
		.duannoibat___more, .project___more {
			font-size: 14px;
			font-weight: normal;
			line-height: 1.71;
			letter-spacing: normal;
			color: $clr-taha;
			text-decoration: underline;
			@media screen and (max-width: $screen-sp) {
				color: $clr-ceko;
				text-decoration: none;
			}
		}
		&:hover {
			.duannoibat__ct, .project__ct {
				&:after {
					content: '';
					background: $clr-asau;
					position: absolute;
					height: 4px;
					width: 100%;
					bottom: 0;
					left: 0;
					@media screen and (max-width: $screen-sp) {
						content: none;
					}
				}
			}
			.duannoibat__info, .project__info {
				margin-bottom: 7px;
			}
		}
		& + .duannoibat__item, & + .project__item {
			@media screen and (max-width: $screen-sp) {
				margin-top: 15px;
			}
		}
	}
}

.slick-dots {
	position: absolute;
    bottom: -41px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
	    position: relative;
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
	    button {
		    font-size: 0;
		    line-height: 0;
		    display: block;
		    width: 13px;
		    height: 13px;
		    padding: 5px;
		    cursor: pointer;
		    color: transparent;
		    border: 0;
		    outline: none;
		    background: transparent;
		    &:before {
			    font-family: 'slick';
			    font-size: 55px;
			    line-height: 13px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 13px;
			    height: 13px;
			    content: '•';
			    text-align: center;
			    opacity: 0.37;
			    color: #959595;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
		}
		&.slick-active {
			button:before {
			    opacity: 1;
			}
		}
	}
}

.overlay {
	position: relative;
	&:before {
		position: absolute;
		content:" ";
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: none;
		z-index:0;
		background-color: rgba($clr-black, 0.25);
		display: block;
	}
	&.fv-overlay {
		&:before {
			background: rgba($clr-black, .7);
		}
	}
}


.about-homebrokers {
	.about-homebrokers-ct {
		max-height: 489px;
		max-width: 1366px;
		width: 100%;
		margin: auto;
		display: table;
		@include dlflex;
		justify-content: space-between;
		@media screen and (max-width: $screen-sp) {
			@include dlflex;
			flex-direction: column;
			height: auto;
			max-height: inherit;
		}
		.about__content {
			max-width: 425px;
			margin-left: 125px;
			margin-right: 20px;
			// float: left;
			@media screen and (max-width: 1270px) and (min-width: 769px) {
				margin-left: 0;
			}
			@media screen and (max-width: $screen-sp) {
				float: none;
				margin: 0;
				order: 2;
				text-align: center;
				max-width: 100%;
				margin-left: 10px;
				margin-right: 10px;
				padding-left: 25px;
				padding-right: 25px;
				position: relative;
				top: -45px;
				z-index: 2;
				background: $clr-white;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				padding-bottom: 50px;
			}
			.about__title {
				font-size: 30px;
				font-weight: 600;
				line-height: 0.8;
				letter-spacing: normal;
				color: $clr-asau;
				padding-top: 80px;
				@include resizefont(23px, 30px);
				@media screen and (max-width: $screen-sp) {
					padding-top: 25px;
				}
			}
			p {
				margin-top: 64px;
				font-size: 18px;
				line-height: 1.67;
				letter-spacing: normal;
				@media screen and (max-width: $screen-sp) {
					margin-top: 30px;
					font-size: 16px;
				}
			}
			.about_more {
				margin-top: 80px;
				display: block;
				font-size: 16px;
				letter-spacing: normal;
				color: $clr-asau;
				@include resizefont(14px, 16px);
				@media screen and (max-width: $screen-sp) {
					margin-top: 30px;
				}
			}
		}
		.img-lf {
			// float: right;
			// @media screen and (max-width: 1300px) and (min-width: 769px) {
			// 	width: 90%;
			// 	float: initial;
			// }
			img {
			    object-fit: cover;
			    width: 100%;
			    height: 100%;
			}
			@media screen and (max-width: $screen-sp) {
				position: relative;
				z-index: 1;
				float: none;
				order: 1;
			}
		}
	}
}

.popup-modal {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.75);
	z-index: 9999;
	.popup-inner {
		width: 100%;
		padding: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		// box-shadow: 0px 2px 2px rgba(0,0,0,1);
		background: $clr-white;
		max-width: 1072px;
		height: 429px;
		border-radius: 10px;
		@media screen and (max-width: $screen-sp) {
    		padding: 10px 20px;
    	}
		.popup-close {
			display: inline-block;
			position: absolute;
			top: 33px;
			right: 33px;
			transition: ease 0.25s all;
			-webkit-transform: translate(50%, -50%);
			transform: translate(50%, -50%);
			cursor: pointer;
		}

		.popup-close:hover {
			opacity: 1;
			-webkit-transform: translate(50%, -50%) rotate(330deg);
			transform: translate(50%, -50%) rotate(180deg);
		}
	}
}
