@charset "utf-8";

/* base valiables */

$font-primary: 'OpenSans', sans-serif;

$font-html: 62.5%;
$clr-white: #fff;
$clr-black: #000000;

$clr-fbfa: #fbfafb;
$clr-baci: #393939;
$clr-asau: #a66636;
$clr-mobe: #1b1b1b;
$clr-tabo: #848484;
$clr-ceko: #c0c0c0;
$clr-taha: #82461e;
$clr-abay: #a76636;
$clr-sade: #6d6e70;
$clr-tabe: #8b8a89;



$screen-sp: 768px;

$min_width: 320px;
$max_width: 768px;