.review-page {
	.box-search {
		.box-search__ct {
			.box-search__form__description {
				font-size: 22px;
				line-height: 1.55;
				text-align: center;
				color: $clr-white;
			    padding-top: 29px;
			}
		}
	}
	.box-review {
		.box-review-title {
			font-size: 30px;
			font-weight: normal;
			text-align: center;
			color: #333333;
			padding-top: 42px;
			padding-bottom: 26px;
		}
		.compare__lists {
			.compare__item {
				.compare__body {
					.view-detail {
						padding-bottom: 20px;
					}
				}
			}
		}
		.see-review {
			padding: 30px;
			background: $clr-white;
			margin-top: 20px;
			.see-review-title {
				font-size: 30px;
				font-weight: normal;
				text-align: center;
				color: $clr-mobe;
				padding-bottom: 27px;
			}
			.review__item {
			    max-width: 360px;
				width: 100%;
				background: #fff;
				@include dlflex;
				flex-direction: column;
				margin: auto;
				.review__header {
					position: relative;
				    width: 100%;
				    height: 204px;
				    display: block;
				    .review__img {
				    	height: 100%;
				    	img {
				    		height: 100%;
						    width: 100%;
						    object-fit: cover;
				    	}
				    }
				    .btn-act {
			    	    position: absolute;
					    bottom: 28px;
					    left: 12px;
				    }
				    .favorite-label {
			    	    position: absolute;
						bottom: 0;
						background-color: rgba(0, 0, 0, 0.35);
						z-index: 2;
						width: 100%;
						color: #fff;
						padding-left: 28px;
						font-size: 13px;
						height: 24px;
						padding-left: 13px;
						@include dlflex;
						align-items: center;
						strong {
							margin-right: 5px;
						}
				    }
				}
				.review__body {
					.review__body-part {
						.location {
							position: relative;
							font-size: 14px;
							font-weight: normal;
							color: #1b1b1b;
							padding-top: 10px;
							text-align: center;
							.ic-location {
								img {
									width: 16px;
									height: 21px;
									vertical-align: inherit;
								}
							}
						}
						.review__title {
							font-size: 18px;
							font-weight: bold;
							line-height: 1.67;
							text-align: center;
						}
					}
				}
			}
			.review__des {
				font-size: 16px;
				font-style: italic;
				text-align: center;
				color: #333333;
				padding-top: 7px;
			}
			.point {
				height: 5px;
				&.review-homebroker {
					background: #996633;
				}
				&.review-customer {
					background: #999999;
				}
			}
			.review-note {
				font-size: 16px;
				color: #333333;
			    display: table;
    			margin: auto;
    			margin-top: 28px;
				li {
					@include dlflex;
					align-items: center;
				}
				.point {
					width: 46px;
					margin-right: 20px;
				}
			}
			.review-info__list {
				.review-info__item {
					padding: 25px 55px;
					@include dlflex;
					align-items: center;
					.criteria, .point-review {
						width: 50%;
					}
					.point-review {
						@include dlflex;
						flex-direction: column;
						.point {
							position: relative;
							margin: 5px 0;
							&:after {
								content: attr(data-point);
								position: absolute;
								right: -15px;
    							top: -11px;
								bottom: 0;
								margin: auto;
								font-size: 18px;
								font-weight: bold;
								color: $clr-mobe;
							}
						}
					}
					&:nth-child(odd) {
						background-color: #f4f5f9;
					}
				}
			}
			.comments {
				.comment__title {
					font-size: 18px;
					font-weight: bold;
					color: #333333;
					.total {
						font-weight: normal;
					}
				}
			}
		}
	}
}