.main-img {
	@media screen and (min-width:769px) and (max-width: 1200px) {
		height: 470px;
	}
	@media screen and (max-width: $screen-sp) {
		height: 383px;
	}
	&__bg {
		position: relative;
		height: 100%;
		img {
			width: 100%; 
            height: 100%; 
            object-fit: cover;
		}
		.overlay {
			height: 100%;
		}
	}
	&__caption {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		max-width: 1114px;
		width: 100%;
		@include dlflex;
	    flex-direction: column;
    	justify-content: center;
    	@media screen and (max-width: $screen-sp) {
    		display: table;
    	}
	}
	&__description {
		font-size: 46px;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: normal;
		color: $clr-white;
		margin-bottom: 85px;
		@media screen and (max-width: $screen-sp) {
			font-size: 22px;
			line-height: 1.36;
			letter-spacing: normal;
			text-align: center;
			margin-bottom: 70px;
		}
	}
	.btn-readmore {
		@include dlflex;
		width: 180px;
		height: 48px;
		background: $clr-asau;
	    align-items: center;
    	justify-content: center;
    	font-size: 18px;
		line-height: 0.5;
		letter-spacing: normal;
		color: $clr-white;
		border-radius: 50px;
		@media screen and (max-width: $screen-sp) {
		 	font-size: 16px;
			letter-spacing: normal;
			margin: auto;
		}
		&:hover {
			opacity: 1;
		    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
	        -webkit-transform: translateY(-2px);
			transform: translateY(-2px);
		}
	}
}

.title-block {
	font-size: 30px;
	letter-spacing: normal;
	text-align: center;
	font-weight: normal;
	@media screen and (max-width: $screen-sp) {
		font-size: 22px;
	}
}

.btn__more {
	width: 250px;
	height: 48px;
	background-color: $clr-taha;
	border-radius: 50px;
	@include dlflex;
	align-items: center;
	justify-content: center;
	color: $clr-white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: normal;
	margin: auto;
	&:hover {
		opacity: 1;
	    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
        -webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}

.best-project {
	background: $clr-fbfa;
	padding-top: 40px;
	@media screen and (max-width: $screen-sp) {
		padding-top: 28px;
	    padding-bottom: 41px;
	}
	&__content {
		.title-block {
			font-weight: 600;
		}
	}
	&__list {
		margin-top: 42px;
		padding-bottom: 75px;
		@media screen and (max-width: $screen-sp) {
			padding-bottom: 0;
		}
		.slick-arrow {
			@media screen and (min-width: 769px) {
				&.arrow-slider {
				    max-width: 1114px;
				    width: 100%;
				    position: absolute;
				    bottom: 0;
				    z-index: 9;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
				}
			}
			.slick-next, .slick-prev {
				position: absolute;
				bottom: 0;
				right: 0;
				max-width: 1114px;
				margin: auto;
				cursor: pointer;
			    width: 50px;
	  			height: 48px;
	  			background: $clr-white;
	  			display: -webkit-box !important;
			    display: -moz-box !important;
			    display: -ms-flexbox !important;
			    display: -moz-flex !important;
			    display: -webkit-flex !important;
			    display: flex !important;
			    align-items: center;
			    justify-content: center;
			    z-index: 2;
			    @media screen and (max-width: $screen-sp) {
			    	top: 0;
			    	background: none;
			    	width: 31px;
			    	height: 25px;
			    }
			    &:after {
			    	content: '';
			    	width: 23px;
			    	height: 8px;
			    	@media screen and (max-width: $screen-sp) {
				    	width: 11px;
				    	height: 25px;
				    }
			    }
			}

			.slick-prev {
				right: 46px;
				@media screen and (max-width: $screen-sp) {
					right: initial;
					left: 0;
				}
				&:after {
					background: url('../images/home/arrow-left.png') no-repeat;
					@media screen and (max-width: $screen-sp) {
						background: url('../images/home/arrow-left-sp.png') no-repeat;
					}
				}
				&:hover {
					&:after {
						background: url('../images/home/arrow-left-hover.png') no-repeat;
						@media screen and (max-width: $screen-sp) {
							background: url('../images/home/arrow-left-sp-hover.png') no-repeat;
						}
					}
				}
			}
			.slick-next {
				&:after {
					background: url('../images/home/arrow-right.png') no-repeat;
					@media screen and (max-width: $screen-sp) {
						background: url('../images/home/arrow-right-sp.png') no-repeat;
					}
				}
				&:hover {
					&:after {
						background: url('../images/home/arrow-right-hover.png') no-repeat;
						@media screen and (max-width: $screen-sp) {
							background: url('../images/home/arrow-right-sp-hover.png') no-repeat;
						}
					}
				}
				@media screen and (min-width: 769px) {
					&:before {
						content: '';
						border-left: 1px solid $clr-abay;
					    position: absolute;
					    left: 0;
					    top: 0;
					    bottom: 0;
					    margin: auto;
					    height: 18px;
					    margin-left: 2px;
					}
				}
			}
		}
	}
	&__item {
		text-align: center;
		.gray {
		    @include filter(grayscale(100%));
		}
		&.slick-center, &:hover {
			.gray {
			    @include filter(grayscale(0));
			}
		}
		img {
			margin: auto;
		}
		.title-duan {
			font-size: 18px;
			line-height: 0.5;
			letter-spacing: normal;
			color: $clr-mobe;
		}
	}
}

.chuyengia {
	margin-top: 45px;
	margin-bottom: 92px;
	@media screen and (max-width: $screen-sp) {
		margin-bottom: 30px;
	}
	.title-block {
		@media screen and (max-width: $screen-sp) {
			// font-size: 17px;
		}
		.title-block--upbi {
			color: $clr-asau;
			font-weight: 600;
		}
	}
	&__list {
		@include dlflex;
		align-items: end;
	   	justify-content: center;
	   	margin-top: 47px;
	   	@media screen and (max-width: $screen-sp) {
			flex-direction: column;
			margin-top: 23px;
		}
	   	.chuyengia__item {
	   		width: calc(100% / 3);
	   		padding: 0 28px;
	   		position: relative;
	   		@media screen and (max-width: $screen-sp) {
				width: 100%;
				padding: 0;
			}
			&__img {
				@media screen and (max-width: $screen-sp) {
					img {
						width: 100%;
					}
				}
			}
	   		&__title {
	   			font-size: 18px;
				font-weight: normal;
				letter-spacing: normal;
				color: $clr-mobe;
				padding: 30px 0;
				position: relative;
				@media screen and (max-width: $screen-sp) {
					padding: 10px 0;
					background: $clr-asau;
					color: $clr-white;
					border-radius: 5px;
					margin-top: 5px;
					padding-left: 43px;
					font-size: 14px;
					letter-spacing: normal;
				}
				&:after {
					content: '';
					position: absolute;
					background: url('../images/home/cta.png') no-repeat;
					width: 40px;
					height: 14px;
					top: 0;
					bottom: 0;
					margin: auto;
					right: 32px;
					@media screen and (max-width: 1024px) and (min-width: 769px) {
						content: none;
					}
					@media screen and (max-width: $screen-sp) {
						background: url('../images/home/cta-sp.png') center no-repeat;
						width: 19px;
						height: 7px;
						right: 18px;
					}
				}
	   		}
	   		&:hover {
	   			&:before {
	   				content: '';
	   				position: absolute;
	   				// background: url('../images/home/hover.png') 0 no-repeat;
	   				border: 2px solid #a66636;
	   				top: 13px;
    				left: 11px;
				    /* max-width: 316px; */
				    /* max-width: 23.2vw; */
				    width: 85.3%;
	   				max-height: 279px;
	   				height: 100%;
					@media screen and (max-width: 1024px) {
						content: none;
					}
	   			}
	   			@media screen and (min-width: 769px) {
		   			.chuyengia__item__title {
						&:after {
							background: url('../images/home/cta-hover.png') no-repeat;
						}
		   			}
		   		}
	   		}
	   		@media screen and (max-width: $screen-sp) {
		   		& + .chuyengia__item {
		   			margin-top: 37px;
		   		}
		   	}
			@media screen and (max-width: $screen-sp) {
				.chuyengia__item__title {
					&:before {
						content: '';
						position: absolute;
						width: 17px;
						height: 17px;
						top: 0;
						bottom: 0;
						margin: auto;
						left: 15px;
					}
				}
			}
			&:nth-child(1) {
				@media screen and (max-width: $screen-sp) {
					.chuyengia__item__title {
						&:before {
							background: url('../images/home/ic-home.png') center no-repeat;
						}
					}
				}
			}
			&:nth-child(2) {
				@media screen and (max-width: $screen-sp) {
					.chuyengia__item__title {
						&:before {
							background: url('../images/home/ic-compare.png') center no-repeat;
						}
					}
				}
			}
			&:nth-child(3) {
				@media screen and (max-width: $screen-sp) {
					.chuyengia__item__title {
						&:before {
							background: url('../images/home/ic-review.png') center no-repeat;
						}
					}
				}
			}
	   	}
	}
}

.duannoibat {
	background: url('../images/home/bg-texture.png') no-repeat;
	background-size: cover;
	padding-bottom: 98px;
	@media screen and (max-width: $screen-sp) {
		background: $clr-fbfa;
		padding-bottom: 65px;
	}
	.title-block {
		padding-top: 43px;
		font-weight: 600;
		@media screen and (max-width: $screen-sp) {
			padding-top: 23px;
		}
	}
	.btn__more {
		margin-top: 63px;
	}
}

.about-homebrokers {
	height: 489px;
	max-width: 1366px;
	width: 100%;
	margin: auto;
	display: table;
	@include dlflex;
	justify-content: space-between;
	@media screen and (max-width: $screen-sp) {
		@include dlflex;
		flex-direction: column;
		height: auto;
	}
	.about__content {
		max-width: 425px;
		margin-left: 125px;
		margin-right: 20px;
		// float: left;
		@media screen and (max-width: 1270px) and (min-width: 769px) {
			margin-left: 0;
		}
		@media screen and (max-width: $screen-sp) {
			float: none;
			margin: 0;
			order: 2;
			text-align: center;
			max-width: 100%;
			margin-left: 10px;
			margin-right: 10px;
			padding-left: 25px;
			padding-right: 25px;
			position: relative;
			top: -45px;
			z-index: 2;
			background: $clr-white;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			padding-bottom: 50px;
		}
		.about__title {
			font-size: 30px;
			font-weight: 600;
			line-height: 0.8;
			letter-spacing: normal;
			color: $clr-asau;
			padding-top: 80px;
			@media screen and (max-width: $screen-sp) {
				padding-top: 25px;
				font-size: 23px;
			}
		}
		p {
			margin-top: 64px;
			font-size: 18px;
			line-height: 1.67;
			letter-spacing: normal;
			@media screen and (max-width: $screen-sp) {
				margin-top: 30px;
				font-size: 16px;
			}
		}
		.about_more {
			margin-top: 80px;
			display: block;
			font-size: 16px;
			letter-spacing: normal;
			color: $clr-asau;
			@media screen and (max-width: $screen-sp) {
				margin-top: 30px;
				font-size: 14px;
			}
		}
	}
	.img-lf {
		// float: right;
		// @media screen and (max-width: 1300px) and (min-width: 769px) {
		// 	width: 90%;
		// 	float: initial;
		// }
		img {
		    object-fit: cover;
		    width: 100%;
		    height: 100%;
		}
		@media screen and (max-width: $screen-sp) {
			position: relative;
			z-index: 1;
			float: none;
			order: 1;
		}
	}
}

.tintuc {
	background: $clr-fbfa;
	padding-bottom: 50px;
	.title-block {
		padding-top: 40px;
		@media screen and (max-width: $screen-sp) {
			font-weight: 600;
			padding-top: 28px;
		}
	}
	&__description {
		font-size: 22px;
		letter-spacing: normal;
		text-align: center;
		color: $clr-tabo;
	    padding-top: 15px;
	    @media screen and (max-width: $screen-sp) {
			display: none;
		}
	}
	&__list {
		@include dlflex;
		justify-content: space-between;
		margin-bottom: 73px;
	    margin-top: 53px;
	    @media screen and (max-width: $screen-sp) {
	    	margin-bottom: 60px;
	    	margin-top: 40px;
	    }
		.tintuc__item {
			background: $clr-white;
			padding: 10px 9px;
			@include transition;
			&__img {
				img {
					width: 100%;
				}
			}
			p {
				font-size: 16px;
				line-height: 1.5;
				letter-spacing: normal;
				color: $clr-mobe;
			    padding-top: 24px;
			    padding-bottom: 6px;
			    position: relative;
			    &:after {
			    	content: '';
			    	position: absolute;
			    	background: url('../images/home/cta.png') no-repeat;
			    	width: 40px;
			    	height: 14px;
			    	right: 0;
		    	    bottom: 9px;
			    }
			}
			@media screen and (min-width: 769px) {
				&:hover {
				    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
			        -webkit-transform: translateY(-2px);
	    			transform: translateY(-2px);
	    			border-radius: 4px;
					p {
						&:after {
					    	background: url('../images/home/cta-hover.png') no-repeat;
					    }
					}
				}
			}
		}
	}
}