.market-info__header {
	position: relative;
	@include dlflex;
	align-items: center;
	@media screen and (max-width: $screen-sp) {
		min-height: 350px;
	}
	figure {
		width: 100%;
		img {
			width: 100%;
			@media screen and (max-width: $screen-sp) {
				min-height: 350px;
				height: 100%;
			    object-fit: cover;
			}
		}
	}
	.market-info__title {
		font-size: 30px;
		line-height: 1.6;
		color: #f4f5f9;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    margin: auto;
	    @include dlflex;
	    flex-direction: column;
	    justify-content: center;
	    text-align: center;
	    @include resizefont(19px, 30px);
	    @media screen and (max-width: $screen-sp) {
		    padding-left: 20px;
		    padding-right: 20px;
		}
	}
}

.market-info__body {
	.documents {
		margin-bottom: 46px;
		margin-top: 35px;
		position: relative;
		@media screen and (max-width: $screen-sp) {
			padding-bottom: 62px;
		}
		.documents__title {
			font-size: 24px;
			line-height: 2;
			color: $clr-mobe;
			display: inline-block;
			@include resizefont(19px, 24px);
			@media screen and (max-width: $screen-sp) {
				text-align: center;
				display: block;
			}
		}
		.document__more {
			float: right;
			font-size: 16px;
			line-height: 3;
			color: #a86738;
			text-decoration: underline;
			padding-right: 12px;
			@media screen and (max-width: $screen-sp) {
				float: none;
				position: absolute;
				bottom: -30px;
				text-align: center;
				right: 0;
    			left: 0;
			}
		}
		.documents__list {
			margin-top: 15px;
			.documents__item {
				border: solid 1px #c8c8c8;
				padding: 16px 16px 13px 16px;
				@include dlflex;
				margin-right: 15px;
				@media only screen and (max-width: 992px) and (min-width: 769px) {
					flex-direction: column;
				}
				@media screen and (max-width: $screen-sp) {
					margin-right: 10px;
				}
				.documents__item__img {
					width: 127px;
					@media only screen and (max-width: 992px) and (min-width: 769px) {
						width: 100%;
					}
					@media screen and (max-width: $screen-sp) {
						width: auto;
					}
					img {
						width: 100%;
						@media only screen and (max-width: 992px) and (min-width: 769px) {
							width: auto;
							margin: auto;
							margin-bottom: 20px;
						}
					}
				}
				.documents__item__info {
					margin-left: 20px;
					color: $clr-mobe;
					width: calc(100% - 147px);
					@media only screen and (max-width: 992px) and (min-width: 769px) {
						width: 100%;
						margin-left: 0;
					}
					@media screen and (max-width: $screen-sp) {
						width: calc(60% - 20px);
					}
					.documents__item__title {
						font-size: 16px;
						font-weight: bold;
						line-height: 1.5;
						@include resizefont(14px, 16px);
					}
					p {
						font-size: 14px;
						line-height: 1.71;
						margin-top: 10px;
						@include resizefont(12px, 14px);
					}
					.download-now {
						max-width: 139px;
						font-size: 16px;
						width: 100%;
						height: 38px;
						background-color: #a86738;
						color: $clr-white;
						@include dlflex;
						align-items: center;
						justify-content: center;
						margin-top: 33px;
						@include resizefont(12px, 16px);
					}
				}
			}
		}
	}
	.market-info__list {
		background: #f4f5f9;
		padding-top: 15px;
	    padding-bottom: 78px;
		.market-info__item {
			background: $clr-white;
			@include dlflex;
			margin: 10px 0;
			@media screen and (max-width: $screen-sp) {
				flex-direction: column;
				margin: 20px -10px;
			}
			.market-info__img {
				width: calc(50% - 28px);
				margin-right: 28px;
				@media screen and (max-width: $screen-sp) {
					width: 100%;
					margin-right: 0;
				}
				img {
					height: 100%;
				    object-fit: cover;
				    @media screen and (max-width: $screen-sp) {
				    	width: 100%
				    }
				}
			}
			.market-info__detail {
				width: calc(50% - 29px);
				margin-right: 29px;
				color: $clr-mobe;
				padding: 20px 0;
				@media screen and (max-width: $screen-sp) {
					padding: 20px 30px 20px 10px;
					width: 100%;
					margin-right: 0;
				}
				.market__detail__title {
					font-size: 22px;
					line-height: 1.5;
					margin-top: 6px;
					@include resizefont(16px, 22px);
					a {
						color: $clr-mobe;
					}
				}
				.meta-info {
					font-size: 14px;
					line-height: 2.36;
				    margin-top: 2px;
				    @include dlflex;
				    @include resizefont(11px, 14px);
					li {
						& + li {
							position: relative;
							margin-left: 10px;
							padding-left: 10px;
							&:before {
								content: '';
								position: absolute;
								background: $clr-mobe;
								height: 14px;
								width: 1px;
								top: 0;
								bottom: 0;
								margin: auto;
								left: 0;
							}
						}
					}
				}
				.market__detail__excerpt {
					font-size: 16px;
					line-height: 1.5;
					margin-top: 14px;
					@include resizefont(14px, 16px);
				}
				.read-more {
					font-size: 14px;
					line-height: 1.71;
					color: #a86738;
					margin-top: 30px;
				    display: block;
				    text-decoration: underline;
				    @include resizefont(12px, 14px);
				}
			}
		}
		.pagination {
			margin: auto;
			@include dlflex;
			align-items: center;
			justify-content: center;
			margin-top: 46px;
			@media screen and (max-width: $screen-sp) {
				display: none;
			}
			li {
				&.hidden {
					display: none;
				}
				a {
					color: #2f2f2f;
					font-size: 24px;
					line-height: 1.25;
					margin: 0 19px;
				}
				&.current {
					a {
						@include transition;
						color: #959595;
						width: 40px;
						height: 40px;
						border: solid 1px #959595;
						@include dlflex;
						align-items: center;
						justify-content: center;
						margin: 0 7px;
					}
				}
				&:last-child:hover, &:first-child {
					border: none;
				}
			}
		}
		@media screen and (max-width: $screen-sp) {
			.load-more {
				max-width: 336px;
				width: 100%;
				height: 57px;
				background-color: $clr-asau;
				color: $clr-white;
				@include dlflex;
				align-items: center;
				justify-content: center;
				margin: 38px auto 0;
			}
		}
	}
	.about-homebrokers {
		width: 100%;
	}
}